:root {
    --light-blue:#9FE7F5;
    --medium-blue:#429EBD;
    --dark-blue:#053F5C;
    --tangerine:#F7AD19;
    --custom-orange:#F27F0C;
}

header{
    background-color: var(--medium-blue);
    color: white;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    font-size: xx-large;
    margin: 10px auto;
}

h1{
    color: var(--tangerine);
    padding: 5px;
    border-bottom: 2px solid black;
    text-align: center;
}

h2{
    color: var(--tangerine);
    padding: 5px;
    text-align: center;
}

.h1Type{
    color: var(--tangerine);
    padding: 5px;
    text-align: center;
}

/* Detail Page Styling */


.gridContainer {
    display: grid;
    grid-gap: 5px;

    grid-template-areas: 
        'header header header' 
        'main section sidebar' 
        'footer footer sidebar';
    grid-template-rows: 32vh 32vh 32vh;
}

header { grid-area: header; }
main { grid-area: main; color: white;}
footer { grid-area: footer; color: white;}
sidebar { grid-area: sidebar; color: white}
section { grid-area: section; color: white}
.box {
    color: var(--tangerine);
    background: rgb(233, 233, 233);
    text-align: center;
    padding: 2em 1em;
}

/* Login Stylings */
.btn{
    background-color: var(--tangerine) !important;
    border-color: var(--custom-orange) !important;
    margin: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.card-image{
    width: 50%;
    margin: auto;
}
.rating-card{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    position: relative;
}
.card-language{
    background-color: var(--medium-blue);
    border-top: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.rate-button{
    text-decoration: none;
    background-color: white;
    color: var(--tangerine);
    border-radius: 20px;
    padding: 10px;
    margin: 0 20px;
}

