<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <% if (typeof username == 'undefined') { %>
      <header class="home-header">Software Ranked++ <span> Welcome Future Developer | <a href="login.html" class="logout">Login</a></span></header>
    <% } else{ %>
        <header class="home-header">Software Ranked++ <span><%=username%> | <form action="/logout" method="get" class="inline"><button type="submit" class="link-button">Logout</button></form></span></header>
    <% } %>
    
    
    
    <br>
    <div class="card-container"> 
      <% if (typeof username == 'undefined') { %>
        <% averages.map(function(item){ %>
          <%- include('partials/viewCard',{language: item._id, rank: item.avgRank}); %>
        <% }); %>
      <% } else{ %>
        <% averages.map(function(item){ %>
          <%- include('partials/card',{username: username, language: item._id, rank: item.avgRank}); %>
        <% }); %>
      <% } %>
    
    
    
    
    </div>
  </body>
</html>