<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <% if (typeof username == 'undefined') { %>
    <header class="home-header">
      Software Ranked++
      <span>
        Welcome Future Developer |
        <form action="/home" method="post" class="inline">
          <button type="submit" class="link-button">Home</button>
        </form>
        | <a href="login.html" class="logout">Login</a></span
      >
    </header>
    <% } else{ %>
    <header class="home-header">
      Software Ranked++
      <span
        ><%=username%> |
        <form action="/home" method="post" class="inline">
          <input
            type="hidden"
            name="username"
            id="username"
            value="<%= username%>"
          />
          <button type="submit" class="link-button">Home</button>
        </form>
        |
        <form action="/logout" method="get" class="inline">
          <button type="submit" class="link-button">Logout</button>
        </form></span
      >
    </header>
    <% } %>

    <br />

    <div class="gridContainer">
      <header class="box">
        <h1>JavaScript</h1>
        General Info
        <p class="content">
          JavaScript is one of the most-used programming languages. JavaScript
          is a text-based programming language that allows you to create
          interactive elements on your web page. Together with HTML and CSS,
          JavaScript is one of the three core components of the internet
        </p>
      </header>
      <main class="box">
        <h2>Pros</h2>
        <ul class="content">
          <li>
            Simplicity - JavaScript is designed from the ground up to be easy to
            understand and learn. Because of its simplicity it allows developers
            to cut down the time required to create applications and improve the
            reliability of the finished product
          </li>
          <li>
            Popularity- The large number of uses for JavaScript code has, no
            doubt, played a significant role in escalating it to be one of the
            world’s most popular programming languages.
          </li>
          <li>
            Reduced Server loads- JavaScript is capable of running code on the
            client-side, i.e. in the web browser itself. This makes tasks such
            as data validation or calculation possible without sending data back
            to the server
          </li>
          <li>
            Rich Interfaces- JavaScript gives developers the tools required to
            create engaging interfaces to interact with users and provide added
            value
          </li>
          <li>
            Versatility- Both front-end and back-end web development can now be
            accomplished entirely in JavaScript, if desired. Many libraries,
            frameworks, and tools exist to help with both.
          </li>
        </ul>
      </main>
      <section class="box">
        <h2>Cons</h2>
        <ul class="content">
          <li>
            Permissive Nature- As programming languages go, JavaScript is
            considerably more ‘laid-back’ than most. However, it can be resolved
            by hiring professional developer
          </li>
          <li>
            Client-side Security- In programming for the web it can open up
            avenues of attack for malicious parties looking to gain access to
            related systems, do damage, or deny others access.
          </li>
          <li>
            Debugging on the web can be tricky- building something and running
            it in a browser offers limited tools for solving problems and
            debugging code on the web.
          </li>
        </ul>
      </section>
      <content class="box">
        <h2>Code Syntax</h2>
        <!-- allows the white spaces to stay so it needs to be formatted this way -->
        <pre>
            <code>
                console.log('Hello World');
            </code>
          </pre>
      </content>
      <footer class="box">
        <h2>Popularity</h2>
        <div>
          <img
            src="/images/javascriptTrend.png"
            alt="Language Popularity Graph"
          />
        </div>
      </footer>
      <br />
    </div>
  </body>
</html>
