<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <% if (typeof username == 'undefined') { %>
    <header class="home-header">
      Software Ranked++
      <span>
        Welcome Future Developer |
        <form action="/home" method="post" class="inline">
          <button type="submit" class="link-button">Home</button>
        </form>
        | <a href="login.html" class="logout">Login</a></span
      >
    </header>
    <% } else{ %>
    <header class="home-header">
      Software Ranked++
      <span
        ><%=username%> |
        <form action="/home" method="post" class="inline">
          <input
            type="hidden"
            name="username"
            id="username"
            value="<%= username%>"
          />
          <button type="submit" class="link-button">Home</button>
        </form>
        |
        <form action="/logout" method="get" class="inline">
          <button type="submit" class="link-button">Logout</button>
        </form></span
      >
    </header>
    <% } %>

    <br />

    <div class="gridContainer">
      <header class="box">
        <h1>Python</h1>
        General Info
        <p class="content">
          Python language has gained popularity year after year. Python is an
          interpreted, interactive, object-oriented programming language. Python
          incorporates modules, exceptions, dynamic typing, very high-level
          dynamic data types, and classes. Many popular apps use Python.
        </p>
      </header>
      <main class="box">
        <h2>Pros</h2>
        <ul class="content">
          <li>
            Large Community - The Python community boasts many coders,
            developers, professionals, and students on the same platform,
            helping one another and bringing the best out of it.
          </li>
          <li>
            Extensive Libraries-Python features an extensive set of libraries
            and contains code for various purposes like database, web-browsers,
            etc., so that we don’t have to completely write the codes
          </li>
          <li>
            Highly Scalable- That means it is very popular, many apps use python
            for example Instagram, Pinterest etc.
          </li>
          <li>
            Machine Learning- Python is an excellent choice when your business
            needs web projects to be integrated with Machine Learning
            algorithms.
          </li>
          <li>
            Portable - Python is portable, which means it can be run on any
            other platform.
          </li>
        </ul>
      </main>
      <section class="box">
        <h2>Cons</h2>
        <ul class="content">
          <li>
            Slower than complied language- Python is slow compared to other
            non-compiled language, a lot of computational power is needed.
          </li>
          <li>
            power is needed. Security- Python is not 100% secure. However,
            performing the right QA testing can fix this concern
          </li>
          <li>
            Issues with design – Using python sometimes you would have to deal
            with complicated designs
          </li>
          <li>
            Dynamically typed- Developers working in Data Science and Machine
            Learning projects prefer statically-typed language over dynamically
            typed language.
          </li>
        </ul>
      </section>
      <content class="box">
        <h2>Code Syntax</h2>
        <!-- allows the white spaces to stay so it needs to be formatted this way -->
        <pre>
            <code>
print("Hello World")
            </code>
          </pre>
      </content>
      <footer class="box">
        <h2>Popularity</h2>
        <div>
          <img src="/images/pythonTrend.png" alt="Language Popularity Graph" />
        </div>
      </footer>
      <br />
    </div>
  </body>
</html>
