<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <% if (typeof username == 'undefined') { %>
    <header class="home-header">
      Software Ranked++
      <span>
        Welcome Future Developer |
        <form action="/home" method="post" class="inline">
          <button type="submit" class="link-button">Home</button>
        </form>
        | <a href="login.html" class="logout">Login</a></span
      >
    </header>
    <% } else{ %>
    <header class="home-header">
      Software Ranked++
      <span
        ><%=username%> |
        <form action="/home" method="post" class="inline">
          <input
            type="hidden"
            name="username"
            id="username"
            value="<%= username%>"
          />
          <button type="submit" class="link-button">Home</button>
        </form>
        |
        <form action="/logout" method="get" class="inline">
          <button type="submit" class="link-button">Logout</button>
        </form></span
      >
    </header>
    <% } %>

    <br />

    <div class="gridContainer">
      <header class="box">
        <h1>Ruby</h1>
        General Info
        <p class="content">
          Ruby is a popular web development language that was created in 2004
          and since then has helped developers improve their productivity
          without reducing application quality. Being an interpreted,
          object-oriented language, Ruby has become one of the most powerful
          programming (and general-purpose) languages. Web apps such as Airbnb,
          GitHub, Twitter use Ruby.
        </p>
      </header>
      <main class="box">
        <h2>Pros</h2>
        <ul class="content">
          <li>
            Agile Methodology – Development and testing are done simultaneously.
            This means, when a section of code is written, it is tested at the
            same time
          </li>
          <li>
            Fewer Lines of Code- A lot of time and money can be saved in
            projects through these quick development features.
          </li>
          <li>
            Lots of Gems and Libraries- There are many libraries being
            maintained and developed using Ruby. It rests under the top 10 list
            of contributor languages on GitHub repositories, illustrating Ruby
            and Ruby library popularity.
          </li>
          <li>
            Budget Friendly- Since Ruby speeds up the development process, it
            reduces a lot of hourly developer charges as well as promoting
            competition
          </li>
          <li>
            Easy Language- Easy Language to Learn, better code rideability
          </li>
        </ul>
      </main>
      <section class="box">
        <h2>Cons</h2>
        <ul class="content">
          <li>
            Fast Development, but slow performance- Ruby is undoubtedly one of
            the fastest development languages, but in terms of web application
            performance, it does not always show the best results. Programming
            languages like Python and NodeJS are still faster.
          </li>
          <li>
            Lack of flexibility- Ruby follows standards and paradigms strictly,
            which creates difficulties in changing the core codebase, this is
            one of the biggest disadvantages.
          </li>
          <li>
            Improper Documentation- Documentation is not always up to date for
            Ruby Gems which are heavily involved in application development. The
            developer suffers in this case, as they have to repeatedly check for
            the required functionality and waste development time.
          </li>
        </ul>
      </section>
      <content class="box">
        <h2>Code Syntax</h2>
        <!-- allows the white spaces to stay so it needs to be formatted this way -->
        <pre>
            <code>
puts "Hello World"
            </code>
          </pre>
      </content>
      <footer class="box">
        <h2>Popularity</h2>
        <div>
          <img src="/images/rubyTrend.png" alt="Language Popularity Graph" />
        </div>
      </footer>
      <br />
    </div>
  </body>
</html>
